* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* header css */
.header {
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 170px;
  height: 40px;
}
.header__content {
  display: flex;
}
.header__item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header__item a {
  margin-right: 5px;
  font-size: 12px;
  text-decoration: none;
  color: rgb(48, 48, 48);
}
.header__item a:first-child {
  color: rgb(22, 153, 198);
  font-weight: 800;
}
.header__item a:nth-child(2) {
  padding: 0 5px;
  border-right: 1px solid #303030;
  border-left: 1px solid #303030;
}
.header__button button {
  font-size: 12px;
  padding: 15px 40px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}
.header__button button:first-child {
  background: rgb(24, 169, 74);
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}
.header__button button:last-child {
  background: rgb(125, 194, 66);
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}
/* end header css */

/* navbar css */
.navbar {
  margin-top: 20px;
  background: rgb(22, 153, 198);
}
.navbar__item {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__item a {
  padding: 25px 40px;
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
}
.navbar__item a:first-child {
  background: rgb(24, 169, 74);
}
/* end navbar css */

/* slider css */
.slideshow {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 10;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #5b5b5b;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 40%;
  left: 16%;
  width: 500px;
  text-align: left;
  font-weight: 800;
  letter-spacing: 1px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow .icon {
  position: absolute;
  top: 90%;
  left: 70px;
  z-index: 3;
}

@media screen and (max-width: 2000px) {
  .slideshow::before {
    content: "";
    border-left: 25vmax solid #1699c6;
    border-top: 15vmax solid transparent;
    border-right: 0vmax solid #1699c6;
    height: 0;
    position: absolute;
    bottom: 4px;
    left: 0;
  }
  .slideshow::after {
    content: "";
    border-right: 25vmax solid #efefef;
    border-bottom: 15vmax solid transparent;
    border-left: 0vmax solid #efefef;
    height: 0;
    position: absolute;
    bottom: -104.2%;
    right: 24.8%;
    transform: rotate(360deg) scale(2.96);
  }
}

.active,
.dot:hover {
  border: 2px solid #a2e04d;
  background-color: rgb(13, 146, 71);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* end slider css */
.product {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32%;
}

.product .product__title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  margin-left: 50%;
}
.product__title .product__text {
  margin-right: 40px;
  z-index: 10;
}
.product__text h1 {
  font-size: 40px;
  font-weight: 800;
  color: #1699c6;
  letter-spacing: 5px;
}
.product__text h3 {
  font-size: 15px;
  text-align: right;
  color: #1699c6;
  letter-spacing: 5px;
}
.product__title p {
  z-index: 10;
  font-size: 15px;
  color: #757575;
  text-align: justify;
  margin-right: 25%;
  font-family: "Dosis", sans-serif;
}
/* .product #product__connect {
  border-top: 560px solid #efefef;
  border-left: 929px solid transparent;
  border-right: 0 solid transparent;
  height: 0;
  width: 929px;
  position: absolute;
  top: -5px;
  right: 0;
} */
.product .product__icon {
  transform: rotate(121deg);
  position: absolute;
  top: -35%;
  left: 40%;
}
.product__social {
  transform: rotate(-121deg);
  text-align: center;
  margin: 30px;
  padding: 10px;
  background: #ecf5fc;
  border-radius: 50%;
  position: relative;
  width: 170px;
  height: 170px;

}

.product .product__icon .product__social img {
  background: #18a94a;
  border-radius: 50%;
  margin: 25px;
}
.circTxt {
  display: inline-block;
  color: transparent;
}
.circTxt p {
  color: #1699c6;
  font-weight: 700;
  position: absolute;
  top: 8%;
  left: 50%;
}

.product__description {
  position: absolute;
  top: 200%;
  left: 17%;
  width: 35%;
  text-align: left;
}
.product__description h1 {
  font-size: 35px;
  font-weight: 800;
  color: #1699c6;
  margin: 0;
}
.product__description p {
  font-size: 15px;
  color: #757575;
  text-align: justify;
  margin-top: 20px;
  font-family: "Dosis", sans-serif;
}
/* product css */

/* map css */
.map {
  margin-top: 10px;
}
/* end map css */

/* partner css */
.partner {
  margin-top: 10px;
  background: #eeeeee;
}
.partner__size {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner__logo h1 {
  letter-spacing: 2px;
  font-size: 40px;
  height: 40px;
  width: 160px;
  font-weight: 800;
}
.partner__logo h1 span:first-child {
  color: #1699c6;
}
.partner__logo h1 span:last-child {
  color: #18a94a;
}
.partner__item {
  padding: 40px 0px;
}
.partner__item a {
  font-size: 14px;
  text-decoration: none;
  color: #1699c6;
  font-weight: 800;
  margin-right: 20px;
}
/* end partner css */

/* contact css */
.contact {
  background: #dfdfdf;
}
.contact__content {
  margin: 0 19%;
}
.contact__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__item {
  display: flex;
  align-items: center;
  margin: 0 40px;
}
.list__item i {
  font-size: 30px;
  padding: 25px 0;
  margin-right: 10px;
}
.list__item h1 {
  font-size: 12px;
  color: #303030;
  font-weight: normal;
  margin-bottom: 5px;
}
.item__text h1,
p {
  font-size: 12px;
  color: #303030;
  font-weight: normal;
  font-family: "Dosis", sans-serif;
}
/* end contact css */

/* footer css */
.footer {
  position: relative;
  background: #eeeeee;
}
.footer__content {
  text-align: center;
  padding: 20px 0;
}
.footer__content p {
  font-size: 12px;
}
.footer__end {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 20%;
  height: 30px;
  background: #303030;
  border-top-left-radius: 5px;
}
.footer__end p {
  font-size: 12px;
  color: #1699c6;
  text-align: center;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
}
/* end footer css */
